/************************************* CLEAR DEFAULT PADDIN AND MARGIN *********************************/
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "TimeBurnerRegular", "Montserrat", Arial, Helvetica, sans-serif;
}

/************************************* CLEAR DEFAULT PADDIN AND MARGIN *********************************/

/************************************* FONTS *********************************/
@font-face {
    font-family: TimeBurnerRegular;
    src: url(../font/timeburnernormal.ttf);
  }
  @font-face {
    font-family: TimeBurnerBold;
    src: url(../font/timeburnerbold.ttf);
  }
  @font-face {
    font-family: Montserrat;
    src: url(../font/montserratregular.ttf);
  }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
/************************************* FONTS *********************************/



/************************************* NAVIGATION BAR *********************************/

.currentlink
{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

/************************************* NAVIGATION BAR *********************************/

/************************************* BODY *********************************/

.universal
{
    height: 100vh;
    padding: 250px 80px 20px 80px;
}

.mainhead
{
    font-size: 60px;
    letter-spacing: 0;
    line-height: 170px;
}

.subhead
{
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 40px;
}


.regulartext
{
    font-size: 20px;
    letter-spacing: 3.5px;
    line-height: 0px;
}

button
{
    background-color: #5c6cd2;
    border: 0px;
}

button:hover
{
    background-color: #3345b9;
}

button a
{
    color: #d7d7d7;
    text-decoration: none;
    font-family: "TimeBurnerBold", "TimeBurnerRegular", "Monsterrat", Arial, Helvetica, sans-serif;
}

.learnmorebutton
{
    border-radius: 10px;
    padding: 20px 25px;
    font-size: 18px;
    letter-spacing: 2px;
}

.learnmore
{
    margin-top: 100px;
}

/************************************* ANIMATION *********************************/

/************************************* ANIMATION *********************************/

/************************************* BODY *********************************/

/************************************* TABLET *********************************/

/************************************* TABLET *********************************/
@media (max-width: 1024px)
{
    .universal
    {
        padding: 170px 80px 20px 80px;
    }

    .mainhead
    {
        font-size: 50px;
        letter-spacing: 0;
        line-height: 120px;
    }
    
    .subhead
    {
        font-size: 35px;
        letter-spacing: 1px;
        line-height: 40px;
    }
    
    
    .regulartext
    {
        font-size: 12px;
        letter-spacing: 3px;
        line-height: 0px;
    }
}

@media (max-width: 1024px) and (orientation:portrait)
{
    .universal
    {
        padding: 350px 80px 20px 80px;
    }

    .mainhead
    {
        font-size: 58px;
        letter-spacing: 0;
        line-height: 100px;
    }
    
    .subhead
    {
        font-size: 40px;
        letter-spacing: 1px;
        line-height: 70px;
    }
    
    
    .regulartext
    {
        font-size: 20px;
        letter-spacing: 3px;
        line-height: 70px;
    }
}

@media (max-width: 768px) and (orientation: portrait)
{

}


/************************************* MOBILE *********************************/

@media (max-width: 576px)
{
    .universal
    {
        height: 100vh;
        padding: 180px 30px 20px 30px;
    }
    
    .mainhead
    {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 45px;
        margin: 10px 0px;
    }
    
    .subhead
    {
        font-size: 20px;
        letter-spacing: 1px;
        line-height:35px;
    }
    
    
    .regulartext
    {
        font-size: 16px;
        letter-spacing: px;
        line-height: 30px;
    }

    .learnmorebutton
    {
        border-radius: 8px;
        padding: 10px 15px;
        font-size: 12px;
        letter-spacing: 2px;
    }
    
    .learnmore
    {
        margin-top: 70px;
    }
}

@media (max-width: 320px)
{
    .universal
    {
        height: 100vh;
        padding: 10px 30px 20px 30px;
    }
    
    .mainhead
    {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 45px;
        margin: 10px 0px;
    }
    
    .subhead
    {
        font-size: 20px;
        letter-spacing: 1px;
        line-height:35px;
    }
    
    
    .regulartext
    {
        font-size: 16px;
        letter-spacing: px;
        line-height: 25px;
    }

    .learnmorebutton
    {
        border-radius: 8px;
        padding: 10px 15px;
        font-size: 12px;
        letter-spacing: 2px;
    }
    
    .learnmore
    {
        margin-top: 30px;
    }
}
    
@media (max-width: 824px) and (orientation: landscape)
{
    .universal
    {
        height: 100vh;
        padding: 100px 30px 20px 30px;
    }
    
    .mainhead
    {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 45px;
        margin: 10px 0px;
    }
    
    .subhead
    {
        font-size: 20px;
        letter-spacing: 1px;
        line-height:35px;
    }
    
    
    .regulartext
    {
        font-size: 16px;
        letter-spacing: px;
        line-height: 30px;
    }

    .learnmorebutton
    {
        border-radius: 8px;
        padding: 10px 15px;
        font-size: 12px;
        letter-spacing: 2px;
    }
    
    .learnmore
    {
        margin-top: 20px;
    }
}

@media (max-width: 569px) and (orientation: landscape)
{
    .universal
    {
        height: 100vh;
        padding: 90px 30px 20px 30px;
    }
    
    .mainhead
    {
        font-size: 25px;
        letter-spacing: 0;
        line-height: 30px;
        margin: 10px 0px;
    }
    
    .subhead
    {
        font-size: 20px;
        letter-spacing: 1px;
        line-height:35px;
    }
    
    
    .regulartext
    {
        font-size: 16px;
        letter-spacing: px;
        line-height: 24px;
    }

    .learnmorebutton
    {
        border-radius: 8px;
        padding: 10px 15px;
        font-size: 8px;
        letter-spacing: 2px;
    }
    
    .learnmore
    {
        margin-top: 20px;
    }
}
/************************************* MOBILE *********************************/