/************************************* CLEAR DEFAULT PADDIN AND MARGIN *********************************/
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "TimeBurnerRegular", "Montserrat", Arial, Helvetica, sans-serif;
}

/************************************* CLEAR DEFAULT PADDIN AND MARGIN *********************************/

/************************************* FONTS *********************************/
@font-face {
    font-family: TimeBurnerRegular;
    src: url(../font/timeburnernormal.ttf);
  }
  @font-face {
    font-family: TimeBurnerBold;
    src: url(../font/timeburnerbold.ttf);
  }
  @font-face {
    font-family: Montserrat;
    src: url(../font/montserratregular.ttf);
  }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
/************************************* FONTS *********************************/



/************************************* NAVIGATION BAR *********************************/

.currentlink
{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

/************************************* NAVIGATION BAR *********************************/

/************************************* BODY *********************************/

.universal
{
    height: 100vh;
    padding: 150px 700px 20px 80px;
    overflow-x: hidden;
}

.mainhead
{
    font-family: "Montserrat", "TimeBurnerRegular", Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 50px;
}

.subhead
{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 100px;
}


.regulartext
{
    font-size: 20px;
    letter-spacing: 3.5px;
    line-height: 50px;
}

.workimage
{
    width: 80vw;
    margin: 30px 0px 0px 0px;
}

.workimagelast
{
    width: 80vw;
    margin: 30px 0px 50px 0px;
}

.navbuttondiv
{
    height: 20px;
    width: 100vw;
    position: fixed;
    bottom: 40px;
    left: 0px;
    right: 0px;
}

.navbutton
{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;

}

.navbutton a
{
    text-decoration: none;
    padding: 0vw 40vw;
}


/************************************* BODY *********************************/
/************************************* LAPTOP *********************************/
@media (max-width: 1400px)
{
    .universal
    {
        height: 100vh;
        padding: 150px 400px 20px 80px;
    }

}


/************************************* LAPTOP *********************************/

/************************************* TABLET *********************************/
@media (max-width: 1024px)
{
    .universal
    {
        height: 100vh;
        padding: 150px 80px 20px 80px;
    }

}

@media (max-width: 1024px) and (orientation:portrait)
{

}

@media (max-width: 768px) and (orientation: landscape)
{
    .universal
    {
        height: 100vh;
        padding: 130px 50px 20px 50px;
    }

    .mainhead
    {
        font-size: 25px;
        letter-spacing: 0;
        line-height: 30px;
    }
    
    .subhead
    {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 70px;
    }
    
    
    .regulartext
    {
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 35px;
    }
}
/************************************* TABLET *********************************/


/************************************* MOBILE *********************************/

@media (max-width: 576px)
{
    .universal
    {
        height: 100vh;
        padding: 130px 30px 20px 30px;
    }

    .mainhead
    {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 30px;
    }
    
    .subhead
    {
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 70px;
    }
    
    
    .regulartext
    {
        font-size: 16px;
        letter-spacing: 3px;
        line-height: 40px;
    }

}

@media (max-width: 420px)
{
    .universal
    {
        height: 100vh;
        padding: 130px 30px 20px 30px;
    }

    .mainhead
    {
        font-size: 25px;
        letter-spacing: 0;
        line-height: 30px;
    }
    
    .subhead
    {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 70px;
    }
    
    
    .regulartext
    {
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 35px;
    }
}

@media (max-width: 320px)
{
    .universal
    {
        height: 100vh;
        padding: 130px 30px 20px 30px;
    }

    .mainhead
    {
        font-size: 25px;
        letter-spacing: 0;
        line-height: 40px;
    }
    
    .subhead
    {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 30px;
    }
    
    
    .regulartext
    {
        font-size: 14px;
        letter-spacing: 3px;
        line-height:30px;
    }
}
    
@media (max-width: 824px) and (orientation: landscape)
{
    .universal
    {
        height: 100vh;
        padding: 130px 50px 20px 50px;
    }

    .mainhead
    {
        font-size: 25px;
        letter-spacing: 0;
        line-height: 30px;
    }
    
    .subhead
    {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 70px;
    }
    
    
    .regulartext
    {
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 35px;
    }
}

@media (max-width: 569px) and (orientation: landscape)
{
    .universal
    {
        height: 100vh;
        padding: 130px 50px 20px 50px;
    }

    .mainhead
    {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 25px;
    }
    
    .subhead
    {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 60px;
    }
    
    
    .regulartext
    {
        font-size: 12px;
        letter-spacing: 3px;
        line-height: 30px;
    }
}
/************************************* MOBILE *********************************/